#content {
    display: flex;
    flex-direction: row;
}

#header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(190, 190, 190);
    padding: 8px;
    font-size: x-large;
    text-align: center;
}

#consultation-space {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#stats {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.input_field {
    width: 20%;
    padding: 7px 5px;
    margin: 8px 0px;
    align-self: center;
}

#connexion {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#ready-buttons {
    display: flex;
    flex-direction: row;
}

.ready-check {
    width: 45%;
    padding: 7px 5px;
    margin: 0 2.5%;
}