#content {
    flex: 1;
}

#title-container {
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: flex-start;
    font-family: Mistic;
    font-size: x-large;
}

.title {
    margin: 0;
    padding: 0;
}

#mediums-container {
    /*height: 200px;
    overflow-y: auto;*/
    border: 1px solid #aaa;
    padding: 10px;
    margin: 16px;
}

#mediums-title {
    font-family: Mistic;
    font-size: xx-large;
    margin: 0;
    text-align: center;
}

#medium-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow-y: auto;
}

.medium-template {
    width: calc(33% - 20px);
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
}

#footer-container {
    display: flex;
    flex-direction: row;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 8px;
    background-color: rgb(190, 190, 190);
}