#inscription-text {
    margin: auto;
    align-self: center;
}

#index-text {
    font-size: medium;
}

.input-field {
    width: 20%;
}

#genders {
    padding: 7px 5px;
    margin: 8px 0px;
}

#inscription {
    display: flex;
    flex-direction: column;
    text-align: center;
}